# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter
.ipynb_checkpoints

# Testing / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Mypy / type checkers
.mypy_cache/
.dmypy.json
.dmypy.json
.pyre/
.pytype/
cython_debug/

# -----------------------------
# Node.js (frontend & backend)
# -----------------------------
node_modules/
npm-debug.log

# -----------------------------
# ML models / data
# -----------------------------
*.h5
*.pkl
*.pt
*.joblib
data/
models/

# -----------------------------
# Ignore ai_sentinel folder
# -----------------------------
ai_sentinel/

# -----------------------------
# IDE / editor
# -----------------------------
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# -----------------------------
# Misc
# -----------------------------
htmlcov/
docs/_build/
site/
.ruff_cache/
.pypirc
.cursorignore
.cursorindexingignore